@import './base/reset';
@import './base/var';
@import './base/mixin';
@import './base/base';

@import './section/header';
@import './section/home';
@import './section/advantages';
@import './section/rent-car';
@import './section/list';
