.advantages {

    background-color: $color2;
    @include paddind(45px);

    &__row {

        @include tablet{
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile{
            grid-template-columns: repeat(1, 1fr);
        }

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    &__col {
        display: flex;
        column-gap: 30px;
    }

    &__text {
        color: $color4;
    }
}
