.header {

    @include paddind(15px);
    border-bottom: 3px dashed $color1;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        @include font(30px, 900);
        color: $color2;
    }

    &__info {
        display: flex;
        column-gap: 10px;
        width: 220px;

    }

    &__number-tel {
        @include font(20px, 900);
        color: $color2;
    }

    &__block {
        display: flex;
        column-gap: 35px;
    }
}

.menu {

    display: flex;

    &__link {
        color: $color2;
        @include font(16px, 500);
        transition: 0.2s;
        display: block;
        padding: 10px 20px;

        &:hover {
            color: $color1;
        }

    }
}

.menu__link_arrow{
    position: relative;

    &::after{
        position: absolute;
        content: '';
        top: 0;
        right: 5px;
        border-width: 0 2px 2px 0;
        border-color: black;
        border-style: solid;
        padding: 3px;
        top: 35%;
        transform: rotate(45deg);
    }
}

