.home {

    min-height: 700px;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(208, 208, 208, 0.2) 0%, rgba(0, 0, 0, 0) 100%);

    &__row {
        display: flex;
        min-height: 600px;

        @include tablet{
            flex-direction: column;
            align-items: center
        }
    }



    &__tite {
        @include font(40px, 700);
        margin-top: 160px;
        width: 240px;

        @include tablet{
            width: 100%;
        }
    }

    &__desc {
        @include font(20px, 400);
        margin: 50px 0;
        max-width: 360px;
    }

    &__home-img{
        margin-top: 160px;
        max-width: 690px;
    }
}

.home-btn {
    position: relative;
    display: inline-block;
    width: 260px;
    color: $color2;
    background-color: $color1;
    padding: 20px 30px;
    transition: 0.3s;
    top: 0;

    &:hover{
        position: relative;
        top: -2px;
    }

    &::after{
        position: absolute;
        content: url(../img/arrow-btn.svg);
        margin-left: 10px;
    }
}