.list {

    @include paddind(100px);
    @include tablet1{
        padding-top: unset;
    }

    &__col{
        text-align: left;
    }

    &__row{
        display: flex;
        flex-wrap: wrap;
        column-gap: 160px;

        @include tablet1{
            flex-direction: column-reverse;
        }

        @include mobile{
            flex-direction: column-reverse;
        }
    }

    &__col-header-img{

        margin-top: 70px;

        @include mobile{
            width: 350px;
        }
    }

    &__col-header {

        @include tablet1{
            margin-top: 50px;
        }


        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
        align-items: center;
    }

    &__col-block{
        display: flex;
        align-items: center;
    }

    &__col-header-text {

        @include mobile{
            margin-right: unset;
        }

        width: 270px;
        margin-right: 140px;
        color: $color5;
    }

    &__col-header-btn {
        margin-right: 40px;
        cursor: pointer;
    }

    &__col-title {
        @include font(25px, 700);
        margin-bottom: 70px;
    }

    &__col-header-link{
        color: $color1;
        border-bottom: 1px solid $color1;
    }
    &__auto{
        line-height: 35px;
        text-align: left;
        margin-bottom: 35px;
        margin-left: 22px;

        & li{
            list-style-image: url(../img/list-item.svg);
            padding-left: 30px;
            font-size: 18px;
        }
    }
}