.list {

    @include paddind(100px);

    &__col{
        text-align: center;
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 160px;

        @include tablet{
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__col-header {
        display: flex;
        align-items: center;
    }

    &__col-header-text {

        @include mobile{
            margin-right: unset;
        }

        width: 270px;
        margin-right: 140px;
        color: $color5;
    }

    &__col-header-btn {
        margin-right: 40px;
        cursor: pointer;
    }

    &__col-title {
        @include font(25px, 700);
        margin-bottom: 70px;
    }

    &__col-header-link{
        color: $color1;
        border-bottom: 1px solid $color1;
        width: 160px;

        @include tablet{
            width: 140px;
        }
    }
    &__auto{
        line-height: 35px;
        text-align: left;
        margin-bottom: 35px;
        margin-left: 22px;

        & li{
            list-style-image: url(../img/list-item.svg);
            padding-left: 30px;
            font-size: 18px;
        }
    }
}