@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    color: $color2;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

html{
    scroll-behavior: smooth;
}

.stop-scroll{
    overflow: hidden;
}